<div style="display: flex;height: 720px;justify-content: center;align-items: center;">
  <div class="mycalc">
    <input #box (keyup.enter)="equal()" [(ngModel)]="toshow" type="text">
    <div class="all-btn">
      <div class="all-btn-numbers">
            <button (click)="writeToInput('1')">1</button>
            <button (click)="writeToInput('2')">2</button>
            <button (click)="writeToInput('3')">3</button>
            <button (click)="writeToInput('4')">4</button>
            <button (click)="writeToInput('5')">5</button>
            <button (click)="writeToInput('6')">6</button>
            <button (click)="writeToInput('7')">7</button>
            <button (click)="writeToInput('8')">8</button>
            <button (click)="writeToInput('9')">9</button>
            <button (click)="writeToInput('0')">0</button>
            <div class="btn-extra">
              <button (click)="writeToInput('.')">.</button>
              <button (click)="clearLast()">back</button>
            </div>
      </div>
      <div class="all-btn-signs">
        <button (click)="addSign('+')">+</button>
        <button (click)="addSign('-')">-</button>
        <button (click)="addSign('*')">*</button>
        <button (click)="addSign('/')">/</button>
      </div>
    </div>
    <div class="btn-clear-equals">
      <button id="clear" (click)="clearall()">C</button>
      <button id="equal" (click)="equal()">=</button>
    </div>
  </div>
</div>